<a href="<%= href %>" class="resource-item">
    <span class="resource-number">
        <%= number %>
    </span>
    <div>
        <h3 style="font-size: 1.25rem; margin-bottom: 0.5rem;">
            <%= title %>
        </h3>
        <p style="color: var(--text-secondary);">
            <%= subtitle %>
        </p>
    </div>
</a>