<script data-isso="{{< var comments.server_url >}}"
        data-isso-css="true"
        data-isso-css-url="null"
        data-isso-lang="en"
        data-isso-max-comments-top="10"
        data-isso-max-comments-nested="5"
        data-isso-reveal-on-click="5"
        data-isso-avatar="false"
        data-isso-avatar-bg="#f0f0f0"
        data-isso-avatar-fg="#9abf88 #5698c4 #e279a3 #9163b6 ..."
        data-isso-vote="true"
        data-isso-vote-levels=""
        data-isso-page-author-hashes="f124cf6b2f01,7831fe17a8cd"
        data-isso-reply-notifications-default-enabled="false"
        src="{{< var comments.server_url >}}/js/embed.min.js"></script>

<section id="isso-thread" data-title="Test tag" ></section>

